/* src/pages/Contact.css */

/* General Container */
.contact-container {
  padding: 30px;
}

/* Contact Information Section */
.contact-info {
  background-color: #f8f9fa;
  padding: 50px 20px;
  margin-bottom: 50px;
}

.contact-info h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  color: #343a40;
}

.contact-info h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.contact-info p {
  font-size: 1.125rem;
  color: #555;
}
/* src/pages/Contact.css */

/* QR Codes Section */
.qr-codes {
  padding: 50px 20px;
  background-color: #f1f3f5;
}

.qr-codes h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #343a40;
}

.qr-item {
  margin-bottom: 30px;
}

.qr-item h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.qr-image {
  width: 100%;
  max-width: 200px; /* Ensures the image is not too large */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ensure responsiveness */
@media (max-width: 768px) {
  .qr-codes h2 {
    font-size: 2rem;
  }

  .qr-item h4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .qr-item h4 {
    font-size: 1rem;
  }
}


/* Contact Form Section */
.contact-form {
  padding: 50px 20px;
  background-color: #f1f3f5;
  margin-bottom: 50px;
}

.contact-form h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #343a40;
  text-align: center;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form .form-control {
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
}

.contact-form button {
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  width: 100%;
  margin-top: 20px;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Location Section */
.location-section {
  padding: 50px 20px;
}

.map-container {
  margin-top: 30px;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-info h2, .contact-form h2 {
    font-size: 2rem;
  }

  .contact-form .form-control {
    font-size: 0.95rem;
  }

  .contact-form button {
    font-size: 1.125rem;
  }
}

@media (max-width: 576px) {
  .contact-info h2 {
    font-size: 1.75rem;
  }

  .contact-form button {
    font-size: 1rem;
  }
}
